<h3><%= t('goals.header') %></h3>

<%= form_for @goal do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.label :name, 'Goal name, e.g. "Finishing that damn Novel"', class: ''  %>
        <%= f.text_field :name, class: ''%>
      </div>

      <div class="input-field col s4">
        <%= f.select :goal_type, enum_option_pairs(Goal, :goal_type), include_blank: true  %>
        <%= f.label :goal_type, 'What type of project are you working on?' %>
      </div>
      <div class="input-field col s2">
        <%= number_field :goal, :word_count, placeholder: 'Enter a word count' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4 offset-s4 ">
        <%= date_field :goal, :complete_by, class: 'datepicker' %>
        <label for="complete_by">When I want to be done</label>
      </div>
    </div>

    <div class="center-align">
      <%= f.submit value: 'Do It', class: 'btn btn-large waves-effect waves-light' %>
    </div>
<% end  %>